<footer class="main-footer">
    <div class="wrap">
        <div class="footer-block">
            <ul class="footer-nav">
                <li class="footer-nav_item">
                    <a class="footer-link" href="#">Онлайн-консультант</a>
                </li>
                <li class="footer-nav_item">
                    <a class="footer-link" href="#"> Разработка сайтов</a>
                </li>
                <li class="footer-nav_item">
                    <a class="footer-link" href="#"> Продвижение сайтов</a>
                </li>
            </ul>
            <div class="footer-copyright">
                <p>© Eka-site.ru 2017</p>
                <p>Все права защищены</p>
            </div>
            <div class="footer-oferta">
                <a class="footer-link" href="#">Договор оферты</a>
            </div>
        </div>

        <div class="footer-block-tel">
            <p class="footer-tel">8 800 2000 1111</p>
            <p class="footer-call">звонок бесплатный по России</p>
        </div>
    </div>
</footer>
