<div id="overlay">
	<div class="modal" id="pay">
		<div class="modal__close"></div>
		<div class="pay-wrap">
			<div class="pay-title">Оплата модуля</div>
			<div class="pay-text">
				Вы можете установить наш онлайн-консультант сразу на несколько ваших сайтов.
			</div>
			<form id="pay-form">
				<div class="pay-quantity">
					<table>
						<tr>
							<td><input type="radio" id="select1" class="select" name="quantity" val="1" data-quant="1"></td>
							<td><label for="select1">Установка на 1 домен</label></td>
							<td>19 000 рублей</td>
						</tr>
						<tr>
							<td><input type="radio" id="select2" class="select" name="quantity" val="2" data-quant="2"></td>
							<td><label for="select2">Установка на 2 домен</label></td>
							<td>25 000 рублей</td>
						</tr>
						<tr>
							<td><input type="radio" id="select3" class="select" name="quantity" val="3" data-quant="3"></td>
							<td><label for="select3">Установка на 3 домен</label></td>
							<td>30 000 рублей</td>
						</tr>
					</table>
				</div>
				<div class="pay-domen">
					<div class="pay-domen-title">
						Введите домен сайта для установки<br>онлайн-консультанта
					</div>
					<div class="pay-domen-one">
						<label for="">Имя домена №1</label>
						<input type="text" name="domen1">
					</div>
					<div class="pay-domen-one hidden">
						<label for="">Имя домена №2</label>
						<input type="text" name="domen2">
					</div>
					<div class="pay-domen-one hidden">
						<label for="">Имя домена №3</label>
						<input type="text" name="domen3">
					</div>
				</div>
				<div class="pay-email">
					<label for="">
					Ваш e-mail 
					<span>на него прийдет ссылка для скачивания</span>
					</label>
					<input type="text" name="cps_email">
				</div>
				<button type="submit" class="pay-button">Перейти к оплате</button>
			</form>
		</div>
	</div>
</div>
