<div id="overlay">
	<div class="modal" id="pay">
		<div class="modal__close"></div>
		<div class="pay-wrap">
			<div class="pay-title">Оплата модуля</div>
			<div class="pay-text">
				Вы можете установить наш онлайн-консультант сразу на несколько ваших сайтов.
			</div>
			<form id="pay-form">
				<div class="pay-quantity">
					<table>
						<tr>
							<td><input type="radio" id="select1" class="select" name="quantity" val="1" data-quant="1"></td>
							<td><label for="select1">Установка на 1 домен</label></td>
							<td>19 000 рублей</td>
						</tr>
						<tr>
							<td><input type="radio" id="select2" class="select" name="quantity" val="2" data-quant="2"></td>
							<td><label for="select2">Установка на 2 домен</label></td>
							<td>25 000 рублей</td>
						</tr>
						<tr>
							<td><input type="radio" id="select3" class="select" name="quantity" val="3" data-quant="3"></td>
							<td><label for="select3">Установка на 3 домен</label></td>
							<td>30 000 рублей</td>
						</tr>
					</table>
				</div>
				<div class="pay-domen">
					<div class="pay-domen-title">
						Введите домен сайта для установки<br>онлайн-консультанта
					</div>
					<div class="pay-domen-one">
						<label for="">Имя домена №1</label>
						<input type="text" name="domen1">
					</div>
					<div class="pay-domen-one hidden">
						<label for="">Имя домена №2</label>
						<input type="text" name="domen2">
					</div>
					<div class="pay-domen-one hidden">
						<label for="">Имя домена №3</label>
						<input type="text" name="domen3">
					</div>
				</div>
				<div class="pay-email">
					<label for="">
					Ваш e-mail 
					<span>на него прийдет ссылка для скачивания</span>
					</label>
					<input type="text" name="cps_email">
				</div>
				<button type="submit" class="pay-button">Перейти к оплате</button>
			</form>
		</div>
	</div>
	<div class="modal modal-about" id="robot1">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Работает без оператора 24/7</h3>
			Вам не нужно отвлекать менеджера от работы дежурством в чате. В выходные и ночью наш робот поддержит беседу с клиентом и получит контактные данные. Остаётся только перезвонить и взять клиента.
		</div>
	</div>
	<div class="modal modal-about" id="robot2">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Не упускает ни одного клиента</h3>
			Настраиваемое время запуска виджета позволит заводить диалог с клиентом в нужное время. Робот ответит каждому пользователю, задаст нужные вопросы и создаст доверительную атмосферу для получения контактов клиента. 
		</div>
	</div>
	<div class="modal modal-about" id="robot3">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Ведет живой диалог</h3>
			Вы можете "научить" робота говорить на языке клиента. По статистике, 85% пользователей не догадываются, что говорят с программой. Различные ответы робота в зависимости от времени суток и дня недели позволят сделать ответы максимально естественными. 
		</div>
	</div>
	<div class="modal modal-about" id="robot4">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Без абонентской платы</h3>
			Никаких дополнительных и скрытых затрат: только единовременная покупка. Нет платы за каждого оператора или за каждую заявку (лид).
		</div>
	</div>
	<div class="modal modal-about" id="robot5">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Удобная панель управления</h3>
			Авторизация администратора происходит через общение с роботом, необходимо лишь правильно начать диалог. Простая панель позволяет гибко настраивать внешний вид робота, а также его поведение.
		</div>
	</div>
	<div class="modal modal-about" id="sites1">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Модернизация и развитие сайта</h3>
			Если вы хотите, чтобы ваш сайт всегда оставался функциональным и удобным для пользователей, необходимо поддерживать его в актуальном состоянии, развивать и модернизировать его. Чтобы онлайн-ресурс вашей компании был действенным инструментом развития бизнеса, наши специалисты составят план по развитию сайта и будут выполнять все необходимые работы начиная от идеи заканчивая реализацией.
		</div>
	</div>
	<div class="modal modal-about" id="sites2">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Разработка дизайна</h3>
			Дизайн должен быть красивым, удобным и вдохновлять. Но, самое главное дизайн должен продавать и решать задачи. Наша командра спроектирует и разработает дизайн, который будет работать.
		</div>
	</div>
	<div class="modal modal-about" id="sites3">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Хостинг и настройка сервера</h3>
			После разработки сайта, важно обеспечить его ресурсами, для быстрой и надежной работы. Мы подберем подходящий хостинг для вашего сайта и проведем его полную настройку.
		</div>
	</div>
	<div class="modal modal-about" id="sites4">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Оптимизация для поисковых систем</h3>
			Полноценное и успешное продвижение требует, чтобы сайт работал корректно. Необходимо чтобы сервер и каждый программный модуль сайта работали слаженно и быстро. Мы выполняем полный комплекс работ по оптимизации сайта, для наилучшего восприятия поисковыми роботами. Настраиваем SEO ядро для ускорения продвижения в поиске.
		</div>
	</div>
	<div class="modal modal-about" id="sites5">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Контент-поддержка</h3>
			Если вам необходима помощь в наполнении сайта – то предоставьте это нам. Контент менеджеры откорректируют тексты, отретушируют изображения и качественно наполнят ваш сайт контентом. Любые объемы: от небольших текстов, до наполнения крупных интернет магазинов.
		</div>
	</div>
	<div class="modal modal-about" id="seo1">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Аудит сайта</h3>
			Тщательное всестороннее изучение вашего сайта покажет, на что нужно обратить внимание для улучшения позиций в поисковиках. Что требует доработки, оптимизации, а что хорошо как есть. Мы подготовим список работ, которые готовы провести для увеличения посещаемости сайта и увеличения его конверсии
		</div>
	</div>
	<div class="modal modal-about" id="seo2">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Оптимизация исходного кода</h3>
			Полноценное и успешное продвижение требует, чтобы сайт работал корректно. Необходимо чтобы сервер и каждый программный модуль сайта работали слаженно и быстро. Мы выполняем полный комплекс работ по оптимизации сайта, для наилучшего восприятия поисковыми роботами. Настраиваем SEO ядро для ускорения продвижения в поиске.
		</div>
	</div>
	<div class="modal modal-about" id="seo3">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Бесплатное улучшение удобства пользования</h3>
			На конверсию сайта влияют разные факторы, в том числе дизайн, удобство пользования, наличие полезного функционала. Посетителям должно быть все понятно и комфортно. Мы проводим бесплатные работы по модернизации и улучшению вашего сайта при заключении договора на продвижение. 
		</div>
	</div>
	<div class="modal modal-about" id="seo4">
		<div class="modal__close"></div>
		<div class="about-wrap">
			<h3>Сопровождение рекламных компаний</h3>
			Наши специалисты и партнёры по контекстной рекламе имеют большой опыт, подтвержденный сертификатами Яндекс и Google. Ведение кампании нами, позволит Вам получить максимальную отдачу от своего рекламного бюджета.
		</div>
	</div>
</div>
