@import "sprite.less";
@import "mixin.less";
@import "base.less";

body {
    font-size: 16px;
}


h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2b2a28;
}


h2 {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #282828;
}


.reset {
    background: none;
    margin: 0;
    padding: 0;
}


.wrap {
	max-width: 1000px;
	margin: 0 auto;
  word-spacing: -0.35em;
  padding-right: 20px;
  padding-left: 20px;
}


.btn {
    display: inline-block;
    padding: 9px 46px;
    background: #00ab56;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: #009048;
    }

    &:active {
        background: #007139;
    }

}


.btn-buy {
    display: inline-block;
    min-height: 50px;
    margin-left: 20px;
    padding-top: 7px;
    padding-right: 57px;
    padding-left: 57px;
    padding-bottom: 7px;
    border-radius: 5px;
    font-size: 24px;
    line-height: 36px;
}


.btn-sites {
    padding: 14px 28px;
    background: #ffffff;
    border-radius: 6px;
    color: #2b2a28;
    font-size: 16px;
    line-height: 24px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.75);

    &:hover {
        background: #e0e0e0;
    }
}


.btn-know-more {
    padding: 14px 32px;
    border-radius: 5px;
}


.main-head {
    min-height: 90px;

    a {
      text-decoration: none;
    }
}


.header-logo {
    display: inline-block;
    margin-top: 23px;
    margin-right: 106px;
    width: 235px;
}


.main-nav {
    display: inline-block;
    margin-top: 30px;
    padding: 0px;
    vertical-align: top;
}


.main-nav_item {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    line-height: 30px;

    &::after {
        content: "";
        display: inline-block;
        height: 32px;
        width: 12px;
        margin: 0px 12px;
        vertical-align: middle;
        font-size: 0px;
        .sprite( @shape-menu);
    }

    &:last-child::after {
        display: none;
    }
}



.main-nav_item a {
    font-weight: normal;
    text-decoration: none;
    color: #2b2a28;

    &:hover {
        color: #00bb5e;
    }
}


.about {
    width: 1000px;
    margin: 0 auto;
    margin-top: 74px;
    padding-left: 20px;
    font-size: 0px;
}


.main-about_list {
    padding: 0px;
}


.main-h1 {
    width: 380px;
    margin-bottom: 22px;
    text-align: center;
}


.about-block ul {
    padding: 0px;
}


.about-list_item {
    display: block;
    text-decoration: none;
    color: @color_text;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    height: 50px;
    list-style-type: none;
    background: #FFFFFF;
    vertical-align: middle;

    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 25px;
    }

    &::before {
        content: "";
        display: table-cell;
        width: 50px;
        height: 50px;
        vertical-align: middle;
    }
}


/* icons in about-list */
.icon-24h {
    &::before {
        .sprite( @24h);
    }
}


.icon-clients {
    &::before {
        .sprite( @clients);
    }

}


.icon-install {
    &::before {
        .sprite( @install);
    }
}


.icon-pay {
    &::before {
        .sprite( @pay);
    }
}


.icon-thumbup {
    &::before {
        .sprite( @thumbup);
    }
}


.about-block {
    display: inline-block;
    min-height: 502px;
    vertical-align: top;
    width: 40.8%;
    z-index: 10;
}


.consult-image-block {
    display: inline-block;
    min-height: 502px;
    vertical-align: top;
    width: 59.2%;
    overflow: hidden;
}


/*.about_image {
    position: absolute;
    top: 0;
    right: 0;
    width: 566px;
}*/


.main-slider {
    background: #00a553;
    padding: 60px 0;
    
    

    .swiper-button-next {
      .sprite(@next);
      background-size: auto;
      right: -60px;
    }
    .swiper-button-prev {
      .sprite(@prev);
      background-size: auto;
      left: -60px;
    }

    .swiper-pagination {
      bottom: -40px;
    }

    .swiper-pagination-bullet {
      background: #fff;
      width: 15px;
      margin-right: 10px;
      height: 15px;
    }

}

.sites-slider {
  .swiper-button-next {
      .sprite(@next);
      background-size: auto;
      right: -60px;
    }
    .swiper-button-prev {
      .sprite(@prev);
      background-size: auto;
      left: -60px;
    }
    .swiper-pagination-sites {
      bottom: -30px;
    }

    .swiper-pagination-bullet {
      background: #fff;
      width: 15px;
      margin-right: 10px;
      height: 15px;
    }
}


.main-slider-wrap,
.slider-wrap {
    overflow: hidden;
}

.main-slider-one {

}

.main-slider-left {
  display: table-cell;
  vertical-align: middle;
  width: 520px;    
}

.main-slider-right {
  display: table-cell;
  vertical-align: middle;
  width: 440px;
  padding-left: 40px;
}

.main-slider__title {
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.main-slider__descr {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

/*robot block image, paysystem, cost, advantages */
.robot-block {
    display: inline-block;
    width: 50%;
    min-height: 430px;
    vertical-align: top;
}


.main-robot {
    text-align: right;
    font-size: 0px;
    vertical-align: top;
}


.main-robot-chat {
    position: absolute;
    top: 46px;
    left: 177px;
    min-height: 68px;
    width: 275px;
    padding: 17px;
    padding-top: 13px;
    font-size: 14px;
    font-style: italic;
    background-color: #e8f6ef;
    border-radius: 5px;
    text-align: left;

    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 68px;
        left: -5px;
        .sprite( @corner);
    }
}


.main-robot-image {
    position: absolute;
    top: 107px;
    height: 371px;
    width: 100%;
    background: url("../img/robot.png");
    background-repeat: no-repeat;
}


.main-robot-price {
    display: inline-block;
    margin-top: 63px;
    width: 460px;
    padding-top: 35px;
    border: 1px solid #e8f6ef;
    text-align: center;
    font-size: 0px;
}


.main-robot-price h1 {
    margin-bottom: 32px;
}


.robot-old-price {
    margin-left: 10px;
    font-size: 24px;
    line-height: 36px;
    color: #909090;
}


.old-price_rub {
    margin-right: 31px;
    margin-left: 7px;
    font-size: 18px;
    position: relative;

    &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        .sprite( @shape-price);
    }
}


.robot-new-price {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #00994d;
}


.new-price_rub {
    margin-left: 6px;
    font-size: 24px;
}


.main-robot p {
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
}


.robot-paysystem {
    margin: 15px auto;
    margin-bottom: 14px;
    padding-left: 1px;
    max-width: 380px;
    text-align: center;
}


.robot-paysystem_item {
    display: inline-block;
    margin-right: 6px;
    margin-bottom: 12px;
    font-size: 0px;
    vertical-align: middle;

    &:first-child {
        margin-left: 7px;
    }

    &:last-child {
        margin-right: 0px;
    }
}


.icon-visa {
    .sprite( @visa);
}


.icon-mastercard {
    .sprite( @mastercard);
}


.icon-mir {
    .sprite( @-mir);
}


.icon-sber {
    .sprite( @sber);
}


.icon-paypal {
    .sprite( @-paypal);
}


.icon-mts {
    .sprite( @mts);
}


.icon-megafon {
    .sprite( @megafon);
}


.icon-beeline {
    .sprite( @beeline);
}


.icon-webm {
    .sprite( @webm);
}


.icon-yandex {
    .sprite( @yandex);
}


.main-robot-advant-wrap {
    font-size: 0px;
    min-height: 120px;
}


.main-robot-advant {
    width: 100%;
    padding-left:73px;
    margin: 29px auto;
    list-style-type: none;
    text-align: left;
}


.robot-advant_item {
    display: inline-block;
    width: 248px;
    margin-right: 33px;
    list-style-type: none;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;

    &:first-of-type {
        margin-right: 72px;
    }
}


.advant-text {
    display: table-cell;
    vertical-align: middle;
    padding-left: 85px;
    height: 78px;
}


.advant-checkbox {
    position: absolute;
    top:0px;
    display: block;
    height: 78px;
    width: 78px;
    .sprite( @checkbox);
}


/* Contact form */
.contact-form {
    padding-top: 60px;
    padding-bottom: 55px;
    text-align: center;
    background: #eef1f5;
}


.main-form {
    margin: 0 auto;
    width: 440px;
    text-align: center;

    label.error {
      color: red;
      position: absolute;
      top: 12px;
      right: 5px;
      font-size: 12px;
      text-align: right;
    }
}


.form-line {
  position: relative;
}


.form_input {
    margin: 11px auto;
    display: block;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    border: 0px;
    font-size: 16px;
    font-weight: normal;
    outline: none;
}


.contact-form h2 {
    margin-bottom: 31px;
}


.form_input-question {
    height: 91px;
    font-size: 16px;
    font-family: @font;
    outline: none;
}


.form_send {
    margin-top: 16px;
    margin-left: 5px;
}




.sites-promo {
    min-height: 552px;
    width: 100%;
    padding-top: 52px;
    background: url("../img/office.jpg");
    text-align: center;
}


.sites-promo-h {
    color: #ffffff;
    margin-bottom: 46px;
}


.sites-price-wrap {
    width: 31%;
    display: inline-block;
    margin-right: 3%;

    &:last-child {
        margin-right: 0px;
    }
}


.sites-kinds {
    display: inline-block;
    min-height: 300px;
    width: 100%;
    margin-bottom: 14px;
    background: #00bb5e;
    color: #ffffff;
    vertical-align: top;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.75);

}


.price-header {
    margin-bottom: 15px;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
}


.card::before {
    content: "";
    display: block;
    margin-top: 39px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
    .sprite( @buscard);
}


.catalog::before {
    content: "";
    display: block;
    margin-top: 39px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
    .sprite( @calendar);
}


.shop::before {
    content: "";
    display: block;
    margin-top: 39px;
    margin-right: auto;
    margin-bottom: 19px;
    margin-left: auto;
    .sprite( @laptop);
}


.sites-price {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
}


.sites-descr {
    width: 150px;
    margin: 0 auto;
}


.interest-block {
    padding-top: 42px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    text-align: center;
    vertical-align: top;
    font-size: 0px;
}


.sites-interest_p {
    display: block;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2b2a28;
}


.sites-interest-list {
    display: inline-block;
    margin-top: 43px;
    margin-bottom: 31px;
    width: 100%;
    vertical-align: top;
    text-align: left;
    padding: 0;
}


.interest_item {
    text-decoration: none;
    color: @color_text;
    width: 48%;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 30px;
    height: 50px;
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;

    &::before {
        content: "";
        display: table-cell;
        width: 50px;
        height: 50px;
        margin-right: 21px;
        vertical-align: middle;
    }

    span {
      display: table-cell;
      padding-left: 20px;
      line-height: 20px;
      vertical-align: middle;
    }
}

/* "sites" page icons in interest block*/

.icon-settings {
    &::before{
        .sprite( @settings);
    }
}


.icon-rocket {
    &::before{
        .sprite( @rocket);
    }
}


.icon-paint {
    &::before {
        .sprite( @paint);
    }
}


.icon-table {
    &::before {
        .sprite( @table);
    }
}


.icon-server{
    &::before {
        .sprite( @server);
    }
}


.sites-advant-list {
    margin-bottom: 35px;
    padding-top: 50px;
    word-spacing: -0.35em;
}


.sites-advant {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 78px;
    margin-bottom: 65px;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
}


.sites-slider {
    min-height: 450px;
    width: 100%;
    padding: 50px;
    background: #00bb5e;
    font-size: 0px;
}


.slider-feedbacks {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    background: #ffffff;
    margin-top: 50px;
}


.feedback-avatar {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: 14px;
}


.feedback-avatar img {
    border-radius: 50px;
    width: 100%;
}


.feedback-author {
    margin-bottom: 0px;
    padding-top: 15px;
    padding-left: 110px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.feedback-subtitle {
  padding-left: 110px;

}

.feedback-date {
    margin-bottom: 5px;
    padding-left: 110px;
    font-size: 14px;
    line-height: 24px;
    color: #a2a2a2;
}


.feedback-text {
    min-height: 160px;
    
    color: #2b2a28;
    p {
      font-size: 16px;
      line-height: 24px;
    }
}


.sites-slider h2 {
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}


/*footer */
.footer-block {
    display: inline-block;
    width: 53%;
    font-size: 16px;
    line-height: 26px;
}


.main-footer {
    padding-top: 24px;
    padding-bottom: 21px;
    background-color: #00bb5e;
    background-size: 100%;
    vertical-align: top;
    color: #ffffff;
    font-size: 0px;
    overflow: hidden;
}


.footer-copyright {
    display: inline-block;
    width: 49%;
}


.footer-copyright p {
    margin-bottom:0px;
    font-size: 16px;
    line-height: 18px;
}


.footer-oferta {
    display: inline-block;
    width: 50%;
    padding-right: 8px;
    text-align: right;
}


.footer-block-tel {
    display: inline-block;
    width: 47%;
    vertical-align: top;
    text-align: right;
}


.footer-tel {
    margin-top: 20px;
    margin-right: -4px;
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff !important;
    text-decoration: none !important; 


    &::before {
        content: "";
        display: inline-block;
        height: 19px;
        width: 19px;
        margin-right: 12px;
        .sprite( @telephone);
    }
}


.footer-call {
    font-size: 14px;
    line-height: 18px;
    padding-right: 5px;
}


.footer-nav {
    margin-bottom: 16px;
    padding: 0px;
}


.footer-nav_item {
    display: inline-block;
    padding-right: 36px;
    font-size: inherit;
    line-height: 24px;

    &:last-child {
        padding: 0px;
    }
}


.footer-link {
    text-decoration: none;
    color: #ffffff;

    &:hover {
        color: #005129;
    }
}
/* clearfix */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.pay-wrap {
    
}

.pay-title {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.pay-text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.pay-quantity {
    margin-bottom: 30px;
    table {
      width: 100%;
      border-bottom: 1px solid #ddd;
      td {
        padding: 5px;
        border-top: 1px solid #ddd;
      }
      label {
        width: 100%;
        display: block;
      }
      input {
        outline: none;
      }
    }
}

.pay-domen {
  margin-bottom: 10px;
}

.pay-domen-title {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pay-domen-one {
  padding-left: 120px;
  position: relative;
  margin-bottom: 20px;
  input {
    width: 100%;
    height: 30px;
    padding: 0 5px;
  }
  label {
    position: absolute;
    left: 0;
    top: 5px;
  }
  label.error {
        color: red;
        font-size: 11px;
        position: absolute;
        left: 120px;
        top: 34px;
  }
}

.pay-email {
    margin-bottom: 20px;
    label {
      margin-bottom: 10px;
      display: block;
      span {
        display: block;
        color: #adadad;
      }
    }
    input {
      width: 100%;
      height: 30px;
      padding: 0 5px;
    }
    label.error {
        color: red;
        font-size: 11px;
    }
}

.pay-button {
  background: #00ab56;
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  display: block;
  margin: 30px auto 0;

}

.pay-select {
    label.error {
        color: red;
        font-size: 11px;
    }
}

.seo-slider {
  padding: 50px;

  h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
  }

  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 24px;
  }

  .swiper-button-next {
      .sprite(@next-bl);
      background-size: auto;
      right: -60px;
  }

  .swiper-button-prev {
      .sprite(@prev-bl);
      background-size: auto;
      left: -60px;
  }
}

.seo-wrap {
  overflow: hidden;
  padding: 20px;

  .slider-feedbacks {
    box-shadow: 0 3px 15px rgba(0,0,0,0.2);

    padding-right: 340px;
  }

  .feedback-link {
    color: #2b2a28;
    margin-bottom: 10px;
    font-size: 18px;
    display: block;
  }

  .feedback-text {

  }

  .feedback-graph {
    position: absolute;
    top: 20px;
    right: 10px;
  }

}


.seo {
  background-image: url(/img/seo.jpg);
  padding: 50px 0;
  background-size: cover;
}

.seo-title {
  text-align: center;
  color: #000;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.seo-subtitle {
  text-align: center;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 60px;
}

.seo-cols {
  word-spacing: -0.35em;
}

.seo-col {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  padding: 0 20px;

  img {
    width: 100%;
  }
}

.seo-interest-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.seo-interest-item {
    display: inline-block;
    text-decoration: none;
    color: @color_text;
  margin-bottom: 24px;
    font-size: 18px;
    line-height: 36px;
    vertical-align: middle;
    color: #000;

    span {
      display: table-cell;
      vertical-align: middle;
      padding-left: 25px;
      line-height: 20px;
    }

    &::before {
        content: "";
        display: table-cell;
        width: 50px;
        height: 50px;
        margin-right: 21px;
        vertical-align: middle;
    }
}

.icon-audit {
  &:before {
    .sprite(@audit);
  }
}

.icon-seo {
  &:before {
    .sprite(@seo);
  }
}

.icon-ui {
  &:before {
    .sprite(@ui);
  }
}

.icon-direct {
  &:before {
    .sprite(@direct);
  }
}

.pay-phone {
  label {
    display: block;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    height: 30px;
    padding: 0 5px;
  }
}

.eTimer {
  display: block !important;
  margin: 0 auto 20px;
}

.etTitle {
  margin-bottom: 0 !important
}

.robot-oferta {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #4d4d4d;
  margin: 10px 0 10px 20px ;
}


.main-top {
  background-image: url(/img/main-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-top-wrap {
  max-width: 960px;
  margin: 0 auto;
}

.main-top__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
}

.main-icons {
  word-spacing: -0.33em;
}

.main-icon {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  height: 375px;
  position: relative;
  text-decoration: none;

  &:first-child {
    .main-icon__title {
      border-left: none;
    }
  }
}


.main-icon-img {
  height: 265px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  z-index: 10;
}


.main-icon__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 50px 0;
  border-left: 1px solid #a5dcc6;
  background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);

}

.modal__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;

    &:before {
        content: "+";
        transform: rotate(45deg);
        font-size: 40px;
        position: absolute;
        top: -6px;
        left: 10px;
    }
}

.hidden {
  display: none;
}