/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@24h-name: '24h';
@24h-x: 261px;
@24h-y: 100px;
@24h-offset-x: -261px;
@24h-offset-y: -100px;
@24h-width: 50px;
@24h-height: 50px;
@24h-total-width: 323px;
@24h-total-height: 284px;
@24h-image: '../img/sprite.png';
@24h: 261px 100px -261px -100px 50px 50px 323px 284px '../img/sprite.png' '24h';
@-mir-name: 'Mir';
@-mir-x: 198px;
@-mir-y: 256px;
@-mir-offset-x: -198px;
@-mir-offset-y: -256px;
@-mir-width: 52px;
@-mir-height: 28px;
@-mir-total-width: 323px;
@-mir-total-height: 284px;
@-mir-image: '../img/sprite.png';
@-mir: 198px 256px -198px -256px 52px 28px 323px 284px '../img/sprite.png' 'Mir';
@-paypal-name: 'Paypal';
@-paypal-x: 74px;
@-paypal-y: 256px;
@-paypal-offset-x: -74px;
@-paypal-offset-y: -256px;
@-paypal-width: 70px;
@-paypal-height: 28px;
@-paypal-total-width: 323px;
@-paypal-total-height: 284px;
@-paypal-image: '../img/sprite.png';
@-paypal: 74px 256px -74px -256px 70px 28px 323px 284px '../img/sprite.png' 'Paypal';
@avatar1-name: 'avatar1';
@avatar1-x: 100px;
@avatar1-y: 0px;
@avatar1-offset-x: -100px;
@avatar1-offset-y: 0px;
@avatar1-width: 100px;
@avatar1-height: 100px;
@avatar1-total-width: 323px;
@avatar1-total-height: 284px;
@avatar1-image: '../img/sprite.png';
@avatar1: 100px 0px -100px 0px 100px 100px 323px 284px '../img/sprite.png' 'avatar1';
@avatar2-name: 'avatar2';
@avatar2-x: 0px;
@avatar2-y: 0px;
@avatar2-offset-x: 0px;
@avatar2-offset-y: 0px;
@avatar2-width: 100px;
@avatar2-height: 100px;
@avatar2-total-width: 323px;
@avatar2-total-height: 284px;
@avatar2-image: '../img/sprite.png';
@avatar2: 0px 0px 0px 0px 100px 100px 323px 284px '../img/sprite.png' 'avatar2';
@beeline-name: 'beeline';
@beeline-x: 0px;
@beeline-y: 256px;
@beeline-offset-x: 0px;
@beeline-offset-y: -256px;
@beeline-width: 74px;
@beeline-height: 28px;
@beeline-total-width: 323px;
@beeline-total-height: 284px;
@beeline-image: '../img/sprite.png';
@beeline: 0px 256px 0px -256px 74px 28px 323px 284px '../img/sprite.png' 'beeline';
@buscard-name: 'buscard';
@buscard-x: 200px;
@buscard-y: 0px;
@buscard-offset-x: -200px;
@buscard-offset-y: 0px;
@buscard-width: 61px;
@buscard-height: 54px;
@buscard-total-width: 323px;
@buscard-total-height: 284px;
@buscard-image: '../img/sprite.png';
@buscard: 200px 0px -200px 0px 61px 54px 323px 284px '../img/sprite.png' 'buscard';
@calendar-name: 'calendar';
@calendar-x: 200px;
@calendar-y: 54px;
@calendar-offset-x: -200px;
@calendar-offset-y: -54px;
@calendar-width: 53px;
@calendar-height: 54px;
@calendar-total-width: 323px;
@calendar-total-height: 284px;
@calendar-image: '../img/sprite.png';
@calendar: 200px 54px -200px -54px 53px 54px 323px 284px '../img/sprite.png' 'calendar';
@checkbox-name: 'checkbox';
@checkbox-x: 0px;
@checkbox-y: 100px;
@checkbox-offset-x: 0px;
@checkbox-offset-y: -100px;
@checkbox-width: 78px;
@checkbox-height: 78px;
@checkbox-total-width: 323px;
@checkbox-total-height: 284px;
@checkbox-image: '../img/sprite.png';
@checkbox: 0px 100px 0px -100px 78px 78px 323px 284px '../img/sprite.png' 'checkbox';
@clients-name: 'clients';
@clients-x: 142px;
@clients-y: 100px;
@clients-offset-x: -142px;
@clients-offset-y: -100px;
@clients-width: 50px;
@clients-height: 50px;
@clients-total-width: 323px;
@clients-total-height: 284px;
@clients-image: '../img/sprite.png';
@clients: 142px 100px -142px -100px 50px 50px 323px 284px '../img/sprite.png' 'clients';
@corner-name: 'corner';
@corner-x: 261px;
@corner-y: 206px;
@corner-offset-x: -261px;
@corner-offset-y: -206px;
@corner-width: 50px;
@corner-height: 18px;
@corner-total-width: 323px;
@corner-total-height: 284px;
@corner-image: '../img/sprite.png';
@corner: 261px 206px -261px -206px 50px 18px 323px 284px '../img/sprite.png' 'corner';
@install-name: 'install';
@install-x: 50px;
@install-y: 178px;
@install-offset-x: -50px;
@install-offset-y: -178px;
@install-width: 50px;
@install-height: 50px;
@install-total-width: 323px;
@install-total-height: 284px;
@install-image: '../img/sprite.png';
@install: 50px 178px -50px -178px 50px 50px 323px 284px '../img/sprite.png' 'install';
@laptop-name: 'laptop';
@laptop-x: 78px;
@laptop-y: 100px;
@laptop-offset-x: -78px;
@laptop-offset-y: -100px;
@laptop-width: 64px;
@laptop-height: 54px;
@laptop-total-width: 323px;
@laptop-total-height: 284px;
@laptop-image: '../img/sprite.png';
@laptop: 78px 100px -78px -100px 64px 54px 323px 284px '../img/sprite.png' 'laptop';
@mastercard-name: 'mastercard';
@mastercard-x: 261px;
@mastercard-y: 150px;
@mastercard-offset-x: -261px;
@mastercard-offset-y: -150px;
@mastercard-width: 39px;
@mastercard-height: 28px;
@mastercard-total-width: 323px;
@mastercard-total-height: 284px;
@mastercard-image: '../img/sprite.png';
@mastercard: 261px 150px -261px -150px 39px 28px 323px 284px '../img/sprite.png' 'mastercard';
@megafon-name: 'megafon';
@megafon-x: 164px;
@megafon-y: 228px;
@megafon-offset-x: -164px;
@megafon-offset-y: -228px;
@megafon-width: 80px;
@megafon-height: 28px;
@megafon-total-width: 323px;
@megafon-total-height: 284px;
@megafon-image: '../img/sprite.png';
@megafon: 164px 228px -164px -228px 80px 28px 323px 284px '../img/sprite.png' 'megafon';
@mts-name: 'mts';
@mts-x: 244px;
@mts-y: 228px;
@mts-offset-x: -244px;
@mts-offset-y: -228px;
@mts-width: 56px;
@mts-height: 28px;
@mts-total-width: 323px;
@mts-total-height: 284px;
@mts-image: '../img/sprite.png';
@mts: 244px 228px -244px -228px 56px 28px 323px 284px '../img/sprite.png' 'mts';
@paint-name: 'paint';
@paint-x: 200px;
@paint-y: 108px;
@paint-offset-x: -200px;
@paint-offset-y: -108px;
@paint-width: 50px;
@paint-height: 50px;
@paint-total-width: 323px;
@paint-total-height: 284px;
@paint-image: '../img/sprite.png';
@paint: 200px 108px -200px -108px 50px 50px 323px 284px '../img/sprite.png' 'paint';
@pay-name: 'pay';
@pay-x: 261px;
@pay-y: 50px;
@pay-offset-x: -261px;
@pay-offset-y: -50px;
@pay-width: 50px;
@pay-height: 50px;
@pay-total-width: 323px;
@pay-total-height: 284px;
@pay-image: '../img/sprite.png';
@pay: 261px 50px -261px -50px 50px 50px 323px 284px '../img/sprite.png' 'pay';
@rocket-name: 'rocket';
@rocket-x: 261px;
@rocket-y: 0px;
@rocket-offset-x: -261px;
@rocket-offset-y: 0px;
@rocket-width: 50px;
@rocket-height: 50px;
@rocket-total-width: 323px;
@rocket-total-height: 284px;
@rocket-image: '../img/sprite.png';
@rocket: 261px 0px -261px 0px 50px 50px 323px 284px '../img/sprite.png' 'rocket';
@sber-name: 'sber';
@sber-x: 0px;
@sber-y: 228px;
@sber-offset-x: 0px;
@sber-offset-y: -228px;
@sber-width: 83px;
@sber-height: 28px;
@sber-total-width: 323px;
@sber-total-height: 284px;
@sber-image: '../img/sprite.png';
@sber: 0px 228px 0px -228px 83px 28px 323px 284px '../img/sprite.png' 'sber';
@server-name: 'server';
@server-x: 200px;
@server-y: 178px;
@server-offset-x: -200px;
@server-offset-y: -178px;
@server-width: 50px;
@server-height: 50px;
@server-total-width: 323px;
@server-total-height: 284px;
@server-image: '../img/sprite.png';
@server: 200px 178px -200px -178px 50px 50px 323px 284px '../img/sprite.png' 'server';
@settings-name: 'settings';
@settings-x: 150px;
@settings-y: 178px;
@settings-offset-x: -150px;
@settings-offset-y: -178px;
@settings-width: 50px;
@settings-height: 50px;
@settings-total-width: 323px;
@settings-total-height: 284px;
@settings-image: '../img/sprite.png';
@settings: 150px 178px -150px -178px 50px 50px 323px 284px '../img/sprite.png' 'settings';
@shape-menu-name: 'shape-menu';
@shape-menu-x: 311px;
@shape-menu-y: 0px;
@shape-menu-offset-x: -311px;
@shape-menu-offset-y: 0px;
@shape-menu-width: 12px;
@shape-menu-height: 32px;
@shape-menu-total-width: 323px;
@shape-menu-total-height: 284px;
@shape-menu-image: '../img/sprite.png';
@shape-menu: 311px 0px -311px 0px 12px 32px 323px 284px '../img/sprite.png' 'shape-menu';
@shape-price-name: 'shape-price';
@shape-price-x: 78px;
@shape-price-y: 154px;
@shape-price-offset-x: -78px;
@shape-price-offset-y: -154px;
@shape-price-width: 108px;
@shape-price-height: 15px;
@shape-price-total-width: 323px;
@shape-price-total-height: 284px;
@shape-price-image: '../img/sprite.png';
@shape-price: 78px 154px -78px -154px 108px 15px 323px 284px '../img/sprite.png' 'shape-price';
@table-name: 'table';
@table-x: 0px;
@table-y: 178px;
@table-offset-x: 0px;
@table-offset-y: -178px;
@table-width: 50px;
@table-height: 50px;
@table-total-width: 323px;
@table-total-height: 284px;
@table-image: '../img/sprite.png';
@table: 0px 178px 0px -178px 50px 50px 323px 284px '../img/sprite.png' 'table';
@telephone-name: 'telephone';
@telephone-x: 200px;
@telephone-y: 158px;
@telephone-offset-x: -200px;
@telephone-offset-y: -158px;
@telephone-width: 19px;
@telephone-height: 19px;
@telephone-total-width: 323px;
@telephone-total-height: 284px;
@telephone-image: '../img/sprite.png';
@telephone: 200px 158px -200px -158px 19px 19px 323px 284px '../img/sprite.png' 'telephone';
@thumbup-name: 'thumbup';
@thumbup-x: 100px;
@thumbup-y: 178px;
@thumbup-offset-x: -100px;
@thumbup-offset-y: -178px;
@thumbup-width: 50px;
@thumbup-height: 50px;
@thumbup-total-width: 323px;
@thumbup-total-height: 284px;
@thumbup-image: '../img/sprite.png';
@thumbup: 100px 178px -100px -178px 50px 50px 323px 284px '../img/sprite.png' 'thumbup';
@visa-name: 'visa';
@visa-x: 261px;
@visa-y: 178px;
@visa-offset-x: -261px;
@visa-offset-y: -178px;
@visa-width: 37px;
@visa-height: 28px;
@visa-total-width: 323px;
@visa-total-height: 284px;
@visa-image: '../img/sprite.png';
@visa: 261px 178px -261px -178px 37px 28px 323px 284px '../img/sprite.png' 'visa';
@webm-name: 'webm';
@webm-x: 83px;
@webm-y: 228px;
@webm-offset-x: -83px;
@webm-offset-y: -228px;
@webm-width: 81px;
@webm-height: 28px;
@webm-total-width: 323px;
@webm-total-height: 284px;
@webm-image: '../img/sprite.png';
@webm: 83px 228px -83px -228px 81px 28px 323px 284px '../img/sprite.png' 'webm';
@yandex-name: 'yandex';
@yandex-x: 144px;
@yandex-y: 256px;
@yandex-offset-x: -144px;
@yandex-offset-y: -256px;
@yandex-width: 54px;
@yandex-height: 28px;
@yandex-total-width: 323px;
@yandex-total-height: 284px;
@yandex-image: '../img/sprite.png';
@yandex: 144px 256px -144px -256px 54px 28px 323px 284px '../img/sprite.png' 'yandex';
@spritesheet-width: 323px;
@spritesheet-height: 284px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @24h @-mir @-paypal @avatar1 @avatar2 @beeline @buscard @calendar @checkbox @clients @corner @install @laptop @mastercard @megafon @mts @paint @pay @rocket @sber @server @settings @shape-menu @shape-price @table @telephone @thumbup @visa @webm @yandex;
@spritesheet: 323px 284px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
