/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@24h-2x-name: '24h-2x';
@24h-2x-x: 250px;
@24h-2x-y: 0px;
@24h-2x-offset-x: -250px;
@24h-2x-offset-y: 0px;
@24h-2x-width: 100px;
@24h-2x-height: 100px;
@24h-2x-total-width: 550px;
@24h-2x-total-height: 488px;
@24h-2x-image: '../img/sprites.png';
@24h-2x: 250px 0px -250px 0px 100px 100px 550px 488px '../img/sprites.png' '24h-2x';
@24h-name: '24h';
@24h-x: 400px;
@24h-y: 360px;
@24h-offset-x: -400px;
@24h-offset-y: -360px;
@24h-width: 50px;
@24h-height: 50px;
@24h-total-width: 550px;
@24h-total-height: 488px;
@24h-image: '../img/sprites.png';
@24h: 400px 360px -400px -360px 50px 50px 550px 488px '../img/sprites.png' '24h';
@-mir-name: 'Mir';
@-mir-x: 359px;
@-mir-y: 460px;
@-mir-offset-x: -359px;
@-mir-offset-y: -460px;
@-mir-width: 52px;
@-mir-height: 28px;
@-mir-total-width: 550px;
@-mir-total-height: 488px;
@-mir-image: '../img/sprites.png';
@-mir: 359px 460px -359px -460px 52px 28px 550px 488px '../img/sprites.png' 'Mir';
@-paypal-name: 'Paypal';
@-paypal-x: 235px;
@-paypal-y: 460px;
@-paypal-offset-x: -235px;
@-paypal-offset-y: -460px;
@-paypal-width: 70px;
@-paypal-height: 28px;
@-paypal-total-width: 550px;
@-paypal-total-height: 488px;
@-paypal-image: '../img/sprites.png';
@-paypal: 235px 460px -235px -460px 70px 28px 550px 488px '../img/sprites.png' 'Paypal';
@audit-2x-name: 'audit-2x';
@audit-2x-x: 350px;
@audit-2x-y: 100px;
@audit-2x-offset-x: -350px;
@audit-2x-offset-y: -100px;
@audit-2x-width: 100px;
@audit-2x-height: 100px;
@audit-2x-total-width: 550px;
@audit-2x-total-height: 488px;
@audit-2x-image: '../img/sprites.png';
@audit-2x: 350px 100px -350px -100px 100px 100px 550px 488px '../img/sprites.png' 'audit-2x';
@audit-name: 'audit';
@audit-x: 350px;
@audit-y: 410px;
@audit-offset-x: -350px;
@audit-offset-y: -410px;
@audit-width: 50px;
@audit-height: 50px;
@audit-total-width: 550px;
@audit-total-height: 488px;
@audit-image: '../img/sprites.png';
@audit: 350px 410px -350px -410px 50px 50px 550px 488px '../img/sprites.png' 'audit';
@beeline-name: 'beeline';
@beeline-x: 161px;
@beeline-y: 460px;
@beeline-offset-x: -161px;
@beeline-offset-y: -460px;
@beeline-width: 74px;
@beeline-height: 28px;
@beeline-total-width: 550px;
@beeline-total-height: 488px;
@beeline-image: '../img/sprites.png';
@beeline: 161px 460px -161px -460px 74px 28px 550px 488px '../img/sprites.png' 'beeline';
@buscard-2x-name: 'buscard-2x';
@buscard-2x-x: 128px;
@buscard-2x-y: 0px;
@buscard-2x-offset-x: -128px;
@buscard-2x-offset-y: 0px;
@buscard-2x-width: 122px;
@buscard-2x-height: 100px;
@buscard-2x-total-width: 550px;
@buscard-2x-total-height: 488px;
@buscard-2x-image: '../img/sprites.png';
@buscard-2x: 128px 0px -128px 0px 122px 100px 550px 488px '../img/sprites.png' 'buscard-2x';
@buscard-name: 'buscard';
@buscard-x: 450px;
@buscard-y: 232px;
@buscard-offset-x: -450px;
@buscard-offset-y: -232px;
@buscard-width: 61px;
@buscard-height: 54px;
@buscard-total-width: 550px;
@buscard-total-height: 488px;
@buscard-image: '../img/sprites.png';
@buscard: 450px 232px -450px -232px 61px 54px 550px 488px '../img/sprites.png' 'buscard';
@calendar-2x-name: 'calendar-2x';
@calendar-2x-x: 0px;
@calendar-2x-y: 108px;
@calendar-2x-offset-x: 0px;
@calendar-2x-offset-y: -108px;
@calendar-2x-width: 102px;
@calendar-2x-height: 102px;
@calendar-2x-total-width: 550px;
@calendar-2x-total-height: 488px;
@calendar-2x-image: '../img/sprites.png';
@calendar-2x: 0px 108px 0px -108px 102px 102px 550px 488px '../img/sprites.png' 'calendar-2x';
@calendar-name: 'calendar';
@calendar-x: 450px;
@calendar-y: 286px;
@calendar-offset-x: -450px;
@calendar-offset-y: -286px;
@calendar-width: 53px;
@calendar-height: 54px;
@calendar-total-width: 550px;
@calendar-total-height: 488px;
@calendar-image: '../img/sprites.png';
@calendar: 450px 286px -450px -286px 53px 54px 550px 488px '../img/sprites.png' 'calendar';
@checkbox-name: 'checkbox';
@checkbox-x: 450px;
@checkbox-y: 100px;
@checkbox-offset-x: -450px;
@checkbox-offset-y: -100px;
@checkbox-width: 78px;
@checkbox-height: 78px;
@checkbox-total-width: 550px;
@checkbox-total-height: 488px;
@checkbox-image: '../img/sprites.png';
@checkbox: 450px 100px -450px -100px 78px 78px 550px 488px '../img/sprites.png' 'checkbox';
@clients-2x-name: 'clients-2x';
@clients-2x-x: 100px;
@clients-2x-y: 210px;
@clients-2x-offset-x: -100px;
@clients-2x-offset-y: -210px;
@clients-2x-width: 100px;
@clients-2x-height: 100px;
@clients-2x-total-width: 550px;
@clients-2x-total-height: 488px;
@clients-2x-image: '../img/sprites.png';
@clients-2x: 100px 210px -100px -210px 100px 100px 550px 488px '../img/sprites.png' 'clients-2x';
@clients-name: 'clients';
@clients-x: 0px;
@clients-y: 410px;
@clients-offset-x: 0px;
@clients-offset-y: -410px;
@clients-width: 50px;
@clients-height: 50px;
@clients-total-width: 550px;
@clients-total-height: 488px;
@clients-image: '../img/sprites.png';
@clients: 0px 410px 0px -410px 50px 50px 550px 488px '../img/sprites.png' 'clients';
@corner-name: 'corner';
@corner-x: 450px;
@corner-y: 390px;
@corner-offset-x: -450px;
@corner-offset-y: -390px;
@corner-width: 50px;
@corner-height: 18px;
@corner-total-width: 550px;
@corner-total-height: 488px;
@corner-image: '../img/sprites.png';
@corner: 450px 390px -450px -390px 50px 18px 550px 488px '../img/sprites.png' 'corner';
@direct-2x-name: 'direct-2x';
@direct-2x-x: 350px;
@direct-2x-y: 0px;
@direct-2x-offset-x: -350px;
@direct-2x-offset-y: 0px;
@direct-2x-width: 100px;
@direct-2x-height: 100px;
@direct-2x-total-width: 550px;
@direct-2x-total-height: 488px;
@direct-2x-image: '../img/sprites.png';
@direct-2x: 350px 0px -350px 0px 100px 100px 550px 488px '../img/sprites.png' 'direct-2x';
@direct-name: 'direct';
@direct-x: 500px;
@direct-y: 340px;
@direct-offset-x: -500px;
@direct-offset-y: -340px;
@direct-width: 50px;
@direct-height: 50px;
@direct-total-width: 550px;
@direct-total-height: 488px;
@direct-image: '../img/sprites.png';
@direct: 500px 340px -500px -340px 50px 50px 550px 488px '../img/sprites.png' 'direct';
@install-2x-name: 'install-2x';
@install-2x-x: 102px;
@install-2x-y: 108px;
@install-2x-offset-x: -102px;
@install-2x-offset-y: -108px;
@install-2x-width: 100px;
@install-2x-height: 100px;
@install-2x-total-width: 550px;
@install-2x-total-height: 488px;
@install-2x-image: '../img/sprites.png';
@install-2x: 102px 108px -102px -108px 100px 100px 550px 488px '../img/sprites.png' 'install-2x';
@install-name: 'install';
@install-x: 400px;
@install-y: 310px;
@install-offset-x: -400px;
@install-offset-y: -310px;
@install-width: 50px;
@install-height: 50px;
@install-total-width: 550px;
@install-total-height: 488px;
@install-image: '../img/sprites.png';
@install: 400px 310px -400px -310px 50px 50px 550px 488px '../img/sprites.png' 'install';
@laptop-2x-name: 'laptop-2x';
@laptop-2x-x: 0px;
@laptop-2x-y: 0px;
@laptop-2x-offset-x: 0px;
@laptop-2x-offset-y: 0px;
@laptop-2x-width: 128px;
@laptop-2x-height: 108px;
@laptop-2x-total-width: 550px;
@laptop-2x-total-height: 488px;
@laptop-2x-image: '../img/sprites.png';
@laptop-2x: 0px 0px 0px 0px 128px 108px 550px 488px '../img/sprites.png' 'laptop-2x';
@laptop-name: 'laptop';
@laptop-x: 450px;
@laptop-y: 178px;
@laptop-offset-x: -450px;
@laptop-offset-y: -178px;
@laptop-width: 64px;
@laptop-height: 54px;
@laptop-total-width: 550px;
@laptop-total-height: 488px;
@laptop-image: '../img/sprites.png';
@laptop: 450px 178px -450px -178px 64px 54px 550px 488px '../img/sprites.png' 'laptop';
@mastercard-name: 'mastercard';
@mastercard-x: 511px;
@mastercard-y: 232px;
@mastercard-offset-x: -511px;
@mastercard-offset-y: -232px;
@mastercard-width: 39px;
@mastercard-height: 28px;
@mastercard-total-width: 550px;
@mastercard-total-height: 488px;
@mastercard-image: '../img/sprites.png';
@mastercard: 511px 232px -511px -232px 39px 28px 550px 488px '../img/sprites.png' 'mastercard';
@megafon-name: 'megafon';
@megafon-x: 81px;
@megafon-y: 460px;
@megafon-offset-x: -81px;
@megafon-offset-y: -460px;
@megafon-width: 80px;
@megafon-height: 28px;
@megafon-total-width: 550px;
@megafon-total-height: 488px;
@megafon-image: '../img/sprites.png';
@megafon: 81px 460px -81px -460px 80px 28px 550px 488px '../img/sprites.png' 'megafon';
@mts-name: 'mts';
@mts-x: 483px;
@mts-y: 410px;
@mts-offset-x: -483px;
@mts-offset-y: -410px;
@mts-width: 56px;
@mts-height: 28px;
@mts-total-width: 550px;
@mts-total-height: 488px;
@mts-image: '../img/sprites.png';
@mts: 483px 410px -483px -410px 56px 28px 550px 488px '../img/sprites.png' 'mts';
@next-bl-name: 'next-bl';
@next-bl-x: 202px;
@next-bl-y: 108px;
@next-bl-offset-x: -202px;
@next-bl-offset-y: -108px;
@next-bl-width: 23px;
@next-bl-height: 42px;
@next-bl-total-width: 550px;
@next-bl-total-height: 488px;
@next-bl-image: '../img/sprites.png';
@next-bl: 202px 108px -202px -108px 23px 42px 550px 488px '../img/sprites.png' 'next-bl';
@next-name: 'next';
@next-x: 225px;
@next-y: 108px;
@next-offset-x: -225px;
@next-offset-y: -108px;
@next-width: 23px;
@next-height: 42px;
@next-total-width: 550px;
@next-total-height: 488px;
@next-image: '../img/sprites.png';
@next: 225px 108px -225px -108px 23px 42px 550px 488px '../img/sprites.png' 'next';
@paint-2x-name: 'paint-2x';
@paint-2x-x: 0px;
@paint-2x-y: 310px;
@paint-2x-offset-x: 0px;
@paint-2x-offset-y: -310px;
@paint-2x-width: 100px;
@paint-2x-height: 100px;
@paint-2x-total-width: 550px;
@paint-2x-total-height: 488px;
@paint-2x-image: '../img/sprites.png';
@paint-2x: 0px 310px 0px -310px 100px 100px 550px 488px '../img/sprites.png' 'paint-2x';
@paint-name: 'paint';
@paint-x: 150px;
@paint-y: 410px;
@paint-offset-x: -150px;
@paint-offset-y: -410px;
@paint-width: 50px;
@paint-height: 50px;
@paint-total-width: 550px;
@paint-total-height: 488px;
@paint-image: '../img/sprites.png';
@paint: 150px 410px -150px -410px 50px 50px 550px 488px '../img/sprites.png' 'paint';
@pay-2x-name: 'pay-2x';
@pay-2x-x: 0px;
@pay-2x-y: 210px;
@pay-2x-offset-x: 0px;
@pay-2x-offset-y: -210px;
@pay-2x-width: 100px;
@pay-2x-height: 100px;
@pay-2x-total-width: 550px;
@pay-2x-total-height: 488px;
@pay-2x-image: '../img/sprites.png';
@pay-2x: 0px 210px 0px -210px 100px 100px 550px 488px '../img/sprites.png' 'pay-2x';
@pay-name: 'pay';
@pay-x: 50px;
@pay-y: 410px;
@pay-offset-x: -50px;
@pay-offset-y: -410px;
@pay-width: 50px;
@pay-height: 50px;
@pay-total-width: 550px;
@pay-total-height: 488px;
@pay-image: '../img/sprites.png';
@pay: 50px 410px -50px -410px 50px 50px 550px 488px '../img/sprites.png' 'pay';
@prev-bl-name: 'prev-bl';
@prev-bl-x: 202px;
@prev-bl-y: 150px;
@prev-bl-offset-x: -202px;
@prev-bl-offset-y: -150px;
@prev-bl-width: 23px;
@prev-bl-height: 42px;
@prev-bl-total-width: 550px;
@prev-bl-total-height: 488px;
@prev-bl-image: '../img/sprites.png';
@prev-bl: 202px 150px -202px -150px 23px 42px 550px 488px '../img/sprites.png' 'prev-bl';
@prev-name: 'prev';
@prev-x: 514px;
@prev-y: 178px;
@prev-offset-x: -514px;
@prev-offset-y: -178px;
@prev-width: 23px;
@prev-height: 42px;
@prev-total-width: 550px;
@prev-total-height: 488px;
@prev-image: '../img/sprites.png';
@prev: 514px 178px -514px -178px 23px 42px 550px 488px '../img/sprites.png' 'prev';
@rocket-2x-name: 'rocket-2x';
@rocket-2x-x: 350px;
@rocket-2x-y: 200px;
@rocket-2x-offset-x: -350px;
@rocket-2x-offset-y: -200px;
@rocket-2x-width: 100px;
@rocket-2x-height: 100px;
@rocket-2x-total-width: 550px;
@rocket-2x-total-height: 488px;
@rocket-2x-image: '../img/sprites.png';
@rocket-2x: 350px 200px -350px -200px 100px 100px 550px 488px '../img/sprites.png' 'rocket-2x';
@rocket-name: 'rocket';
@rocket-x: 300px;
@rocket-y: 410px;
@rocket-offset-x: -300px;
@rocket-offset-y: -410px;
@rocket-width: 50px;
@rocket-height: 50px;
@rocket-total-width: 550px;
@rocket-total-height: 488px;
@rocket-image: '../img/sprites.png';
@rocket: 300px 410px -300px -410px 50px 50px 550px 488px '../img/sprites.png' 'rocket';
@sber-name: 'sber';
@sber-x: 400px;
@sber-y: 410px;
@sber-offset-x: -400px;
@sber-offset-y: -410px;
@sber-width: 83px;
@sber-height: 28px;
@sber-total-width: 550px;
@sber-total-height: 488px;
@sber-image: '../img/sprites.png';
@sber: 400px 410px -400px -410px 83px 28px 550px 488px '../img/sprites.png' 'sber';
@seo-2x-name: 'seo-2x';
@seo-2x-x: 450px;
@seo-2x-y: 0px;
@seo-2x-offset-x: -450px;
@seo-2x-offset-y: 0px;
@seo-2x-width: 100px;
@seo-2x-height: 100px;
@seo-2x-total-width: 550px;
@seo-2x-total-height: 488px;
@seo-2x-image: '../img/sprites.png';
@seo-2x: 450px 0px -450px 0px 100px 100px 550px 488px '../img/sprites.png' 'seo-2x';
@seo-name: 'seo';
@seo-x: 200px;
@seo-y: 410px;
@seo-offset-x: -200px;
@seo-offset-y: -410px;
@seo-width: 50px;
@seo-height: 50px;
@seo-total-width: 550px;
@seo-total-height: 488px;
@seo-image: '../img/sprites.png';
@seo: 200px 410px -200px -410px 50px 50px 550px 488px '../img/sprites.png' 'seo';
@server-2x-name: 'server-2x';
@server-2x-x: 250px;
@server-2x-y: 100px;
@server-2x-offset-x: -250px;
@server-2x-offset-y: -100px;
@server-2x-width: 100px;
@server-2x-height: 100px;
@server-2x-total-width: 550px;
@server-2x-total-height: 488px;
@server-2x-image: '../img/sprites.png';
@server-2x: 250px 100px -250px -100px 100px 100px 550px 488px '../img/sprites.png' 'server-2x';
@server-name: 'server';
@server-x: 100px;
@server-y: 410px;
@server-offset-x: -100px;
@server-offset-y: -410px;
@server-width: 50px;
@server-height: 50px;
@server-total-width: 550px;
@server-total-height: 488px;
@server-image: '../img/sprites.png';
@server: 100px 410px -100px -410px 50px 50px 550px 488px '../img/sprites.png' 'server';
@settings-2x-name: 'settings-2x';
@settings-2x-x: 300px;
@settings-2x-y: 310px;
@settings-2x-offset-x: -300px;
@settings-2x-offset-y: -310px;
@settings-2x-width: 100px;
@settings-2x-height: 100px;
@settings-2x-total-width: 550px;
@settings-2x-total-height: 488px;
@settings-2x-image: '../img/sprites.png';
@settings-2x: 300px 310px -300px -310px 100px 100px 550px 488px '../img/sprites.png' 'settings-2x';
@settings-name: 'settings';
@settings-x: 300px;
@settings-y: 210px;
@settings-offset-x: -300px;
@settings-offset-y: -210px;
@settings-width: 50px;
@settings-height: 50px;
@settings-total-width: 550px;
@settings-total-height: 488px;
@settings-image: '../img/sprites.png';
@settings: 300px 210px -300px -210px 50px 50px 550px 488px '../img/sprites.png' 'settings';
@shape-menu-name: 'shape-menu';
@shape-menu-x: 528px;
@shape-menu-y: 100px;
@shape-menu-offset-x: -528px;
@shape-menu-offset-y: -100px;
@shape-menu-width: 12px;
@shape-menu-height: 32px;
@shape-menu-total-width: 550px;
@shape-menu-total-height: 488px;
@shape-menu-image: '../img/sprites.png';
@shape-menu: 528px 100px -528px -100px 12px 32px 550px 488px '../img/sprites.png' 'shape-menu';
@shape-price-name: 'shape-price';
@shape-price-x: 400px;
@shape-price-y: 438px;
@shape-price-offset-x: -400px;
@shape-price-offset-y: -438px;
@shape-price-width: 108px;
@shape-price-height: 15px;
@shape-price-total-width: 550px;
@shape-price-total-height: 488px;
@shape-price-image: '../img/sprites.png';
@shape-price: 400px 438px -400px -438px 108px 15px 550px 488px '../img/sprites.png' 'shape-price';
@table-2x-name: 'table-2x';
@table-2x-x: 200px;
@table-2x-y: 310px;
@table-2x-offset-x: -200px;
@table-2x-offset-y: -310px;
@table-2x-width: 100px;
@table-2x-height: 100px;
@table-2x-total-width: 550px;
@table-2x-total-height: 488px;
@table-2x-image: '../img/sprites.png';
@table-2x: 200px 310px -200px -310px 100px 100px 550px 488px '../img/sprites.png' 'table-2x';
@table-name: 'table';
@table-x: 450px;
@table-y: 340px;
@table-offset-x: -450px;
@table-offset-y: -340px;
@table-width: 50px;
@table-height: 50px;
@table-total-width: 550px;
@table-total-height: 488px;
@table-image: '../img/sprites.png';
@table: 450px 340px -450px -340px 50px 50px 550px 488px '../img/sprites.png' 'table';
@telephone-name: 'telephone';
@telephone-x: 528px;
@telephone-y: 132px;
@telephone-offset-x: -528px;
@telephone-offset-y: -132px;
@telephone-width: 19px;
@telephone-height: 19px;
@telephone-total-width: 550px;
@telephone-total-height: 488px;
@telephone-image: '../img/sprites.png';
@telephone: 528px 132px -528px -132px 19px 19px 550px 488px '../img/sprites.png' 'telephone';
@thumbup-2x-name: 'thumbup-2x';
@thumbup-2x-x: 100px;
@thumbup-2x-y: 310px;
@thumbup-2x-offset-x: -100px;
@thumbup-2x-offset-y: -310px;
@thumbup-2x-width: 100px;
@thumbup-2x-height: 100px;
@thumbup-2x-total-width: 550px;
@thumbup-2x-total-height: 488px;
@thumbup-2x-image: '../img/sprites.png';
@thumbup-2x: 100px 310px -100px -310px 100px 100px 550px 488px '../img/sprites.png' 'thumbup-2x';
@thumbup-name: 'thumbup';
@thumbup-x: 250px;
@thumbup-y: 410px;
@thumbup-offset-x: -250px;
@thumbup-offset-y: -410px;
@thumbup-width: 50px;
@thumbup-height: 50px;
@thumbup-total-width: 550px;
@thumbup-total-height: 488px;
@thumbup-image: '../img/sprites.png';
@thumbup: 250px 410px -250px -410px 50px 50px 550px 488px '../img/sprites.png' 'thumbup';
@ui-2x-name: 'ui-2x';
@ui-2x-x: 200px;
@ui-2x-y: 210px;
@ui-2x-offset-x: -200px;
@ui-2x-offset-y: -210px;
@ui-2x-width: 100px;
@ui-2x-height: 100px;
@ui-2x-total-width: 550px;
@ui-2x-total-height: 488px;
@ui-2x-image: '../img/sprites.png';
@ui-2x: 200px 210px -200px -210px 100px 100px 550px 488px '../img/sprites.png' 'ui-2x';
@ui-name: 'ui';
@ui-x: 300px;
@ui-y: 260px;
@ui-offset-x: -300px;
@ui-offset-y: -260px;
@ui-width: 50px;
@ui-height: 50px;
@ui-total-width: 550px;
@ui-total-height: 488px;
@ui-image: '../img/sprites.png';
@ui: 300px 260px -300px -260px 50px 50px 550px 488px '../img/sprites.png' 'ui';
@visa-name: 'visa';
@visa-x: 503px;
@visa-y: 286px;
@visa-offset-x: -503px;
@visa-offset-y: -286px;
@visa-width: 37px;
@visa-height: 28px;
@visa-total-width: 550px;
@visa-total-height: 488px;
@visa-image: '../img/sprites.png';
@visa: 503px 286px -503px -286px 37px 28px 550px 488px '../img/sprites.png' 'visa';
@webm-name: 'webm';
@webm-x: 0px;
@webm-y: 460px;
@webm-offset-x: 0px;
@webm-offset-y: -460px;
@webm-width: 81px;
@webm-height: 28px;
@webm-total-width: 550px;
@webm-total-height: 488px;
@webm-image: '../img/sprites.png';
@webm: 0px 460px 0px -460px 81px 28px 550px 488px '../img/sprites.png' 'webm';
@yandex-name: 'yandex';
@yandex-x: 305px;
@yandex-y: 460px;
@yandex-offset-x: -305px;
@yandex-offset-y: -460px;
@yandex-width: 54px;
@yandex-height: 28px;
@yandex-total-width: 550px;
@yandex-total-height: 488px;
@yandex-image: '../img/sprites.png';
@yandex: 305px 460px -305px -460px 54px 28px 550px 488px '../img/sprites.png' 'yandex';
@spritesheet-width: 550px;
@spritesheet-height: 488px;
@spritesheet-image: '../img/sprites.png';
@spritesheet-sprites: @24h-2x @24h @-mir @-paypal @audit-2x @audit @beeline @buscard-2x @buscard @calendar-2x @calendar @checkbox @clients-2x @clients @corner @direct-2x @direct @install-2x @install @laptop-2x @laptop @mastercard @megafon @mts @next-bl @next @paint-2x @paint @pay-2x @pay @prev-bl @prev @rocket-2x @rocket @sber @seo-2x @seo @server-2x @server @settings-2x @settings @shape-menu @shape-price @table-2x @table @telephone @thumbup-2x @thumbup @ui-2x @ui @visa @webm @yandex;
@spritesheet: 550px 488px '../img/sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
