/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@24h-name: '24h';
@24h-x: 100px;
@24h-y: 132px;
@24h-offset-x: -100px;
@24h-offset-y: -132px;
@24h-width: 50px;
@24h-height: 50px;
@24h-total-width: 323px;
@24h-total-height: 232px;
@24h-image: '../img/sprite.png';
@24h: 100px 132px -100px -132px 50px 50px 323px 232px '../img/sprite.png' '24h';
@-mir-name: 'Mir';
@-mir-x: 242px;
@-mir-y: 168px;
@-mir-offset-x: -242px;
@-mir-offset-y: -168px;
@-mir-width: 52px;
@-mir-height: 28px;
@-mir-total-width: 323px;
@-mir-total-height: 232px;
@-mir-image: '../img/sprite.png';
@-mir: 242px 168px -242px -168px 52px 28px 323px 232px '../img/sprite.png' 'Mir';
@-paypal-name: 'Paypal';
@-paypal-x: 242px;
@-paypal-y: 84px;
@-paypal-offset-x: -242px;
@-paypal-offset-y: -84px;
@-paypal-width: 70px;
@-paypal-height: 28px;
@-paypal-total-width: 323px;
@-paypal-total-height: 232px;
@-paypal-image: '../img/sprite.png';
@-paypal: 242px 84px -242px -84px 70px 28px 323px 232px '../img/sprite.png' 'Paypal';
@beeline-name: 'beeline';
@beeline-x: 242px;
@beeline-y: 56px;
@beeline-offset-x: -242px;
@beeline-offset-y: -56px;
@beeline-width: 74px;
@beeline-height: 28px;
@beeline-total-width: 323px;
@beeline-total-height: 232px;
@beeline-image: '../img/sprite.png';
@beeline: 242px 56px -242px -56px 74px 28px 323px 232px '../img/sprite.png' 'beeline';
@buscard-name: 'buscard';
@buscard-x: 0px;
@buscard-y: 78px;
@buscard-offset-x: 0px;
@buscard-offset-y: -78px;
@buscard-width: 61px;
@buscard-height: 54px;
@buscard-total-width: 323px;
@buscard-total-height: 232px;
@buscard-image: '../img/sprite.png';
@buscard: 0px 78px 0px -78px 61px 54px 323px 232px '../img/sprite.png' 'buscard';
@calendar-name: 'calendar';
@calendar-x: 61px;
@calendar-y: 78px;
@calendar-offset-x: -61px;
@calendar-offset-y: -78px;
@calendar-width: 53px;
@calendar-height: 54px;
@calendar-total-width: 323px;
@calendar-total-height: 232px;
@calendar-image: '../img/sprite.png';
@calendar: 61px 78px -61px -78px 53px 54px 323px 232px '../img/sprite.png' 'calendar';
@checkbox-name: 'checkbox';
@checkbox-x: 0px;
@checkbox-y: 0px;
@checkbox-offset-x: 0px;
@checkbox-offset-y: 0px;
@checkbox-width: 78px;
@checkbox-height: 78px;
@checkbox-total-width: 323px;
@checkbox-total-height: 232px;
@checkbox-image: '../img/sprite.png';
@checkbox: 0px 0px 0px 0px 78px 78px 323px 232px '../img/sprite.png' 'checkbox';
@clients-name: 'clients';
@clients-x: 142px;
@clients-y: 50px;
@clients-offset-x: -142px;
@clients-offset-y: -50px;
@clients-width: 50px;
@clients-height: 50px;
@clients-total-width: 323px;
@clients-total-height: 232px;
@clients-image: '../img/sprite.png';
@clients: 142px 50px -142px -50px 50px 50px 323px 232px '../img/sprite.png' 'clients';
@corner-name: 'corner';
@corner-x: 192px;
@corner-y: 150px;
@corner-offset-x: -192px;
@corner-offset-y: -150px;
@corner-width: 50px;
@corner-height: 18px;
@corner-total-width: 323px;
@corner-total-height: 232px;
@corner-image: '../img/sprite.png';
@corner: 192px 150px -192px -150px 50px 18px 323px 232px '../img/sprite.png' 'corner';
@install-name: 'install';
@install-x: 50px;
@install-y: 132px;
@install-offset-x: -50px;
@install-offset-y: -132px;
@install-width: 50px;
@install-height: 50px;
@install-total-width: 323px;
@install-total-height: 232px;
@install-image: '../img/sprite.png';
@install: 50px 132px -50px -132px 50px 50px 323px 232px '../img/sprite.png' 'install';
@laptop-name: 'laptop';
@laptop-x: 78px;
@laptop-y: 0px;
@laptop-offset-x: -78px;
@laptop-offset-y: 0px;
@laptop-width: 64px;
@laptop-height: 54px;
@laptop-total-width: 323px;
@laptop-total-height: 232px;
@laptop-image: '../img/sprite.png';
@laptop: 78px 0px -78px 0px 64px 54px 323px 232px '../img/sprite.png' 'laptop';
@mastercard-name: 'mastercard';
@mastercard-x: 242px;
@mastercard-y: 196px;
@mastercard-offset-x: -242px;
@mastercard-offset-y: -196px;
@mastercard-width: 39px;
@mastercard-height: 28px;
@mastercard-total-width: 323px;
@mastercard-total-height: 232px;
@mastercard-image: '../img/sprite.png';
@mastercard: 242px 196px -242px -196px 39px 28px 323px 232px '../img/sprite.png' 'mastercard';
@megafon-name: 'megafon';
@megafon-x: 242px;
@megafon-y: 28px;
@megafon-offset-x: -242px;
@megafon-offset-y: -28px;
@megafon-width: 80px;
@megafon-height: 28px;
@megafon-total-width: 323px;
@megafon-total-height: 232px;
@megafon-image: '../img/sprite.png';
@megafon: 242px 28px -242px -28px 80px 28px 323px 232px '../img/sprite.png' 'megafon';
@mts-name: 'mts';
@mts-x: 242px;
@mts-y: 112px;
@mts-offset-x: -242px;
@mts-offset-y: -112px;
@mts-width: 56px;
@mts-height: 28px;
@mts-total-width: 323px;
@mts-total-height: 232px;
@mts-image: '../img/sprite.png';
@mts: 242px 112px -242px -112px 56px 28px 323px 232px '../img/sprite.png' 'mts';
@paint-name: 'paint';
@paint-x: 50px;
@paint-y: 182px;
@paint-offset-x: -50px;
@paint-offset-y: -182px;
@paint-width: 50px;
@paint-height: 50px;
@paint-total-width: 323px;
@paint-total-height: 232px;
@paint-image: '../img/sprite.png';
@paint: 50px 182px -50px -182px 50px 50px 323px 232px '../img/sprite.png' 'paint';
@pay-name: 'pay';
@pay-x: 142px;
@pay-y: 0px;
@pay-offset-x: -142px;
@pay-offset-y: 0px;
@pay-width: 50px;
@pay-height: 50px;
@pay-total-width: 323px;
@pay-total-height: 232px;
@pay-image: '../img/sprite.png';
@pay: 142px 0px -142px 0px 50px 50px 323px 232px '../img/sprite.png' 'pay';
@rocket-name: 'rocket';
@rocket-x: 0px;
@rocket-y: 182px;
@rocket-offset-x: 0px;
@rocket-offset-y: -182px;
@rocket-width: 50px;
@rocket-height: 50px;
@rocket-total-width: 323px;
@rocket-total-height: 232px;
@rocket-image: '../img/sprite.png';
@rocket: 0px 182px 0px -182px 50px 50px 323px 232px '../img/sprite.png' 'rocket';
@sber-name: 'sber';
@sber-x: 100px;
@sber-y: 182px;
@sber-offset-x: -100px;
@sber-offset-y: -182px;
@sber-width: 83px;
@sber-height: 28px;
@sber-total-width: 323px;
@sber-total-height: 232px;
@sber-image: '../img/sprite.png';
@sber: 100px 182px -100px -182px 83px 28px 323px 232px '../img/sprite.png' 'sber';
@server-name: 'server';
@server-x: 192px;
@server-y: 100px;
@server-offset-x: -192px;
@server-offset-y: -100px;
@server-width: 50px;
@server-height: 50px;
@server-total-width: 323px;
@server-total-height: 232px;
@server-image: '../img/sprite.png';
@server: 192px 100px -192px -100px 50px 50px 323px 232px '../img/sprite.png' 'server';
@settings-name: 'settings';
@settings-x: 192px;
@settings-y: 50px;
@settings-offset-x: -192px;
@settings-offset-y: -50px;
@settings-width: 50px;
@settings-height: 50px;
@settings-total-width: 323px;
@settings-total-height: 232px;
@settings-image: '../img/sprite.png';
@settings: 192px 50px -192px -50px 50px 50px 323px 232px '../img/sprite.png' 'settings';
@shape-menu-name: 'shape-menu';
@shape-menu-x: 142px;
@shape-menu-y: 100px;
@shape-menu-offset-x: -142px;
@shape-menu-offset-y: -100px;
@shape-menu-width: 12px;
@shape-menu-height: 32px;
@shape-menu-total-width: 323px;
@shape-menu-total-height: 232px;
@shape-menu-image: '../img/sprite.png';
@shape-menu: 142px 100px -142px -100px 12px 32px 323px 232px '../img/sprite.png' 'shape-menu';
@shape-price-name: 'shape-price';
@shape-price-x: 100px;
@shape-price-y: 210px;
@shape-price-offset-x: -100px;
@shape-price-offset-y: -210px;
@shape-price-width: 108px;
@shape-price-height: 15px;
@shape-price-total-width: 323px;
@shape-price-total-height: 232px;
@shape-price-image: '../img/sprite.png';
@shape-price: 100px 210px -100px -210px 108px 15px 323px 232px '../img/sprite.png' 'shape-price';
@table-name: 'table';
@table-x: 192px;
@table-y: 0px;
@table-offset-x: -192px;
@table-offset-y: 0px;
@table-width: 50px;
@table-height: 50px;
@table-total-width: 323px;
@table-total-height: 232px;
@table-image: '../img/sprite.png';
@table: 192px 0px -192px 0px 50px 50px 323px 232px '../img/sprite.png' 'table';
@telephone-name: 'telephone';
@telephone-x: 298px;
@telephone-y: 112px;
@telephone-offset-x: -298px;
@telephone-offset-y: -112px;
@telephone-width: 19px;
@telephone-height: 19px;
@telephone-total-width: 323px;
@telephone-total-height: 232px;
@telephone-image: '../img/sprite.png';
@telephone: 298px 112px -298px -112px 19px 19px 323px 232px '../img/sprite.png' 'telephone';
@thumbup-name: 'thumbup';
@thumbup-x: 0px;
@thumbup-y: 132px;
@thumbup-offset-x: 0px;
@thumbup-offset-y: -132px;
@thumbup-width: 50px;
@thumbup-height: 50px;
@thumbup-total-width: 323px;
@thumbup-total-height: 232px;
@thumbup-image: '../img/sprite.png';
@thumbup: 0px 132px 0px -132px 50px 50px 323px 232px '../img/sprite.png' 'thumbup';
@visa-name: 'visa';
@visa-x: 281px;
@visa-y: 196px;
@visa-offset-x: -281px;
@visa-offset-y: -196px;
@visa-width: 37px;
@visa-height: 28px;
@visa-total-width: 323px;
@visa-total-height: 232px;
@visa-image: '../img/sprite.png';
@visa: 281px 196px -281px -196px 37px 28px 323px 232px '../img/sprite.png' 'visa';
@webm-name: 'webm';
@webm-x: 242px;
@webm-y: 0px;
@webm-offset-x: -242px;
@webm-offset-y: 0px;
@webm-width: 81px;
@webm-height: 28px;
@webm-total-width: 323px;
@webm-total-height: 232px;
@webm-image: '../img/sprite.png';
@webm: 242px 0px -242px 0px 81px 28px 323px 232px '../img/sprite.png' 'webm';
@yandex-name: 'yandex';
@yandex-x: 242px;
@yandex-y: 140px;
@yandex-offset-x: -242px;
@yandex-offset-y: -140px;
@yandex-width: 54px;
@yandex-height: 28px;
@yandex-total-width: 323px;
@yandex-total-height: 232px;
@yandex-image: '../img/sprite.png';
@yandex: 242px 140px -242px -140px 54px 28px 323px 232px '../img/sprite.png' 'yandex';
@spritesheet-width: 323px;
@spritesheet-height: 232px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @24h @-mir @-paypal @beeline @buscard @calendar @checkbox @clients @corner @install @laptop @mastercard @megafon @mts @paint @pay @rocket @sber @server @settings @shape-menu @shape-price @table @telephone @thumbup @visa @webm @yandex;
@spritesheet: 323px 232px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
