<div class="about">
    <div class="about-block">
        <h1 class="main-h1">
            Онлайн-консультант который работает сам!
        </h1>
        <ul сlass="main-about_list">
            <li class="about-list_item icon-24h">
                <span>Работает без оператора 24/7</span>
            </li>
            <li class="about-list_item icon-clients">
                <span>Не упускает ни одного клиента</span>
            </li>
            <li class="about-list_item icon-install">
                <span>Простая установка</span>
            </li>
            <li class="about-list_item icon-pay">
                <span>Без абонентской платы</span>
            </li>
            <li class="about-list_item icon-thumbup">
                <span>Удобная панель управления</span>
            </li>
        </ul>
    </div>
    <div class="consult-image-block">
        <img class="about_image" src="img/main-consult.png" alt="Онлайн-консультант">
    </div>
</div>
