<div class="about">
    <div class="about-block">
        <h1 class="main-h1">
            Онлайн-консультант который работает сам!
        </h1>
        <ul сlass="main-about_list">
            <a href="#robot1" class="about-list_item open_modal icon-24h">
                <span>Работает без оператора 24/7</span>
            </a>
            <a href="#robot2" class="about-list_item open_modal icon-clients">
                <span>Не упускает ни одного клиента</span>
            </a>
            <a href="#robot3" class="about-list_item open_modal icon-install">
                <span>Ведет живой диалог</span>
            </a>
            <a href="#robot4" class="about-list_item open_modal icon-pay">
                <span>Без абонентской платы</span>
            </a>
            <a href="#robot5" class="about-list_item open_modal icon-thumbup">
                <span>Удобная панель управления</span>
            </a>
        </ul>
    </div>
    <div class="consult-image-block">
        <div class="swiper-wrapper">
            <img class="about_image swiper-slide" src="img/chat1.gif" alt="Онлайн-консультант">
            <img class="about_image swiper-slide" src="img/chat2.gif" alt="Онлайн-консультант">
        </div>
    </div>
</div>
