<div class="about">
  <div class="about-block">
    <h1 class="main-h1">
      Онлайн-консультант который работает сам!
    </h1>
    <ul сlass="main-about_list">
      <li class="about-list_item">Работает без оператора 24/7</li>
      <li class="about-list_item">Не упускает ни одного клиента</li>
      <li class="about-list_item">Простая установка</li>
      <li class="about-list_item">Без абонентской платы</li>
      <li class="about-list_item">Удобная панель управления</li>
    </ul>
  </div>
  <div class="consult-image-block">
    <img class="about_image" src="img/main-consult.png" alt="Онлайн-консультант">
  </div>
</div>
