<div class="interest-block wrap">
  <p class="sites-interest_p">Уже есть сайт?</p>
  <p class="sites-interest_p">Тогда вам будет интересно:</p>
  <ul class="sites-interest-list">
    <li class="interest_item">Модернизация и развитие сайта</li>
    <li class="interest_item">Разработка дизайна</li>
    <li class="interest_item">Хостинг и настройка сервера</li>
    <li class="interest_item">Оптимизация для поисковых систем</li>
    <li class="interest_item">Контент-поддержка </li>
  </ul>
  <a class="btn btn-know-more" href="#"> Узнать больше</a>
</div>
