<div class="interest-block wrap">
    <p class="sites-interest_p">Уже есть сайт?</p>
    <p class="sites-interest_p">Тогда вам будет интересно:</p>
    <ul class="sites-interest-list">
        <li class="interest_item icon-settings">Модернизация и развитие сайта</li>
        <li class="interest_item icon-rocket">Оптимизация для поисковых систем</li>
        <li class="interest_item icon-paint">Разработка дизайна</li>
        <li class="interest_item icon-table">Контент-поддержка</li>
        <li class="interest_item icon-server">Хостинг и настройка сервера </li>
    </ul>
    <a class="btn btn-know-more" href="#"> Узнать больше</a>
</div>
