<div class="interest-block wrap">
    <p class="sites-interest_p">Уже есть сайт?</p>
    <p class="sites-interest_p">Тогда вам будет интересно:</p>
    <ul class="sites-interest-list">
        <a href="#sites1" class="interest_item open_modal icon-settings"><span>Модернизация и развитие сайта</span></a>
        <a href="#sites4" class="interest_item open_modal icon-rocket"><span>Оптимизация для поисковых систем</span></a>
        <a href="#sites2" class="interest_item open_modal icon-paint"><span>Разработка дизайна</span></a>
        <a href="#sites5" class="interest_item open_modal icon-table"><span>Контент-поддержка</span></a>
        <a href="#sites5" class="interest_item open_modal icon-server"><span>Хостинг и настройка сервера </span></a>
    </ul>
    <a class="btn btn-know-more" href="#"> Узнать больше</a>
</div>
