<div class="main-top">
	<div class="main-top-wrap">
		<div class="main-top__title">
			Комплексное решение<br>для вашего бизнеса в интернете
		</div>
		<div class="main-icons">
			<a href="#" class="main-icon">
				<div class="main-icon-img" style="background-image: url(/img/sites.png); bottom: -22px;"></div>
				<div class="main-icon__title">Разработка сайтовa</div>
			</a>
			<a href="#" class="main-icon">
				<div class="main-icon-img" style="background-image: url(/img/robot.png)"></div>
				<div class="main-icon__title">Робот консультантa</div>
			</a>
			<a href="#" class="main-icon">
				<div class="main-icon-img" style="background-image: url(/img/seo.png)"></div>
				<div class="main-icon__title">продвижение сайтовa</div>
			</a>
		</div>
	</div>
</div>