<div class="main-top">
	<div class="main-top-wrap">
		<div class="main-top__title">
			Комплексное решение<br>для вашего бизнеса в интернете
		</div>
		<div class="main-icons">
			<a href="#" class="main-icon">
				<img src="/img/sites.png" alt="" class="main-icon__img main-icon__img--sites">
				<div class="main-icon__title">Разработка сайтовa</div>
			</a>
			<a href="#" class="main-icon">
				<img src="/img/robot.png" alt="" class="main-icon__img main-icon__img--robot">
				<div class="main-icon__title">Робот консультантa</div>
			</a>
			<a href="#" class="main-icon">
				<img src="/img/seo.png" alt="" class="main-icon__img main-icon__img--seo">
				<div class="main-icon__title">продвижение сайтовa</div>
			</a>
		</div>
	</div>
</div>