<div class="main-robot wrap">
  <div class="robot-block">
    <div class="main-robot-image"></div>
    <div class="main-robot-chat">Привет! Я чат-робот. Я помогу вам найти клиентов</div>
  </div>
  <div class="robot-block">
    <div class="main-robot-price">
      <h1>Стоимость робота</h1>
      <span class="robot-old-price">30 000</span>
      <span class="robot-old-price old-price_rub">
        руб
      </span>
      <span class="robot-new-price">19 000</span>
      <span class="robot-new-price new-price_rub" >
        руб
      </span>
      <p>Цена действует только до 31 июля</p>
      <a class="btn btn-buy" href="#">Купить</a>
      <ul class="robot-paysystem">
        <li class="robot-paysystem_item">Visa</li>
        <li class="robot-paysystem_item">Mastercard</li>
        <li class="robot-paysystem_item">Мир</li>
        <li class="robot-paysystem_item">Сбербанк</li>
        <li class="robot-paysystem_item">Paypal</li>
        <li class="robot-paysystem_item">МТС</li>
        <li class="robot-paysystem_item">МегаФон</li>
        <li class="robot-paysystem_item">Beeline</li>
        <li class="robot-paysystem_item">Webmoney</li>
        <li class="robot-paysystem_item">Yandex-Деньги</li>
      </ul>
    </div>
  </div>
  <div class="main-robot-advant-wrap">
    <ul class="main-robot-advant ">
      <span class="advant-checkbox"></span>
      <li class="robot-advant_item">Никакой абонентской платы</li>
      <span class="advant-checkbox"></span>
      <li class="robot-advant_item">Безлимитное количество заявок</li>
      <span class="advant-checkbox"></span>
      <li class="robot-advant_item">Техническая поддержка</li>
    </ul>
  </div>
</div>
