<div class="seo">
	<div class="wrap">
		<div class="seo-title">Продвижение сайтов</div>
		<div class="seo-subtitle">от 15 000 рублей в месяц</div>

		<div class="seo-cols">
			<div class="seo-col">
				<img src="/img/seo-img.png" alt="">
			</div>
			<div class="seo-col">
				<ul class="seo-interest-list">
			        <a href="#seo1" class="seo-interest-item open_modal icon-audit"><span>Аудит сайта</span></a>
			        <a href="#seo2" class="seo-interest-item open_modal icon-seo"><span>Оптимизация исходного кода</span></a>
			        <a href="#seo3" class="seo-interest-item open_modal icon-ui"><span>Бесплатное улучшение удобства пользования</span></a>
			        <a href="#seo4" class="seo-interest-item open_modal icon-direct"><span>Сопровождение рекламных компаний</span></a>
			    </ul>
			</div>
		</div>
	</div>
</div>