<div class="seo">
	<div class="wrap">
		<div class="seo-title">Продвижение сайтов</div>
		<div class="seo-subtitle">от 15 000 рублей в месяц</div>

		<div class="seo-cols">
			<div class="seo-col">
				<img src="/img/seo-img.png" alt="">
			</div>
			<div class="seo-col">
				<ul class="seo-interest-list">
			        <li class="seo-interest-item icon-audit"><span>Аудит сайта</span></li>
			        <li class="seo-interest-item icon-seo"><span>Оптимизация исходного кода</span></li>
			        <li class="seo-interest-item icon-ui"><span>Бесплатное улучшение удобства пользования</span></li>
			        <li class="seo-interest-item icon-direct"><span>Сопровождение рекламных компаний</span></li>
			    </ul>
			</div>
		</div>
	</div>
</div>