<div class="sites-slider">
    <div class="wrap">
        <h2>Отзывы</h2>
        <div class="slider-feedbacks">
            <span class="feedback-avatar"><img src="img/avatar1.png"></span>
            <p class="feedback-author">
                Андрей Митренев
            </p>
            <p class="feedback-date">
                30.07.2016
            </p>
            <p class="feedback-text">
                Добрый день! обратился в компанию Креска и честно не ожидал такого быстрого решения поставленной задачи, сайт был создан в кротчайшие сроки при чем качественно без переделок, по моему не совсем сформированному тех заданию. Цена тоже приятно удивила!
            </p>
        </div>
        <div class="slider-feedbacks">
            <span class="feedback-avatar"><img src="img/avatar2.png"></span>
            <p class="feedback-author">
                Андрей Митренев
            </p>
            <p class="feedback-date">
                30.07.2016
            </p>
            <p class="feedback-text">
                Добрый день! обратился в компанию Креска и честно не ожидал такого быстрого решения поставленной задачи, сайт был создан в кротчайшие сроки при чем качественно без переделок, по моему не совсем сформированному тех заданию. Цена тоже приятно удивила!
            </p>
        </div>
    </div>
</div>
