<div class="sites-promo">
    <div class="wrap">
        <h1 class="sites-promo-h">Создание сайтов</h1>
        <div class="sites-price-wrap">
            <div class="sites-kinds">
                <p class="price-header card">Визитка</p>
                <p class="sites-price">от 10 000 руб</p>
                <p class="sites-descr">
                    срок разработки
                    от 1 недели
                </p>
            </div>
            <a class="btn btn-sites" href="#">Оставить заявку</a>
        </div>
        <div class="sites-price-wrap">
            <div class="sites-kinds">
                <p class="price-header catalog">Каталог</p>
                <p class="sites-price">от 25 000 руб</p>
                <p class="sites-descr">
                    срок разработки
                    от 2 недель
                </p>
            </div>
            <a class="btn btn-sites" href="#">Оставить заявку</a>
            </div>
        <div class="sites-price-wrap">
            <div class="sites-kinds">
                <p class="price-header shop">интернет магазин</p>
                <p class="sites-price">от 50 000 руб</p>
                <p class="sites-descr">
                    срок разработки
                    от 4 недель
                </p>
            </div>
            <a class="btn btn-sites" href="#">Оставить заявку</a>
        </div>
    </div>
</div>
