<div class="wrap">
    <ul class="sites-advant-list">
        <li class="sites-advant">
            <span class="advant-checkbox"></span>
            <span class="advant-text">
                Ведение проекта от идеи до запуска
            </span>
        </li>
        <li class="sites-advant">
            <span class="advant-checkbox"></span>
            <span class="advant-text">
                Гарантийная поддержка 12 месяцев
            </span>
        </li>
        <li class="sites-advant">
            <span class="advant-checkbox"></span>
            <span class="advant-text">
                Обучение по работе с сайтом
            </span>
        </li>
        <li class="sites-advant">
            <span class="advant-checkbox"></span>
            <span class="advant-text">
                Гибкая система оплаты
            </span>
        </li>
    </ul>
</div>
