<div class="main-slider">
        <div class="wrap">
        	<div class="main-slider-wrap">
        		<div class="swiper-wrapper">
	        		<div class="main-slider-one swiper-slide">
	        			<div class="main-slider-left">
	        				<img src="/img/chat1.gif" alt="">
	        			</div>
	        			<div class="main-slider-right">
	        				<div class="main-slider__title">Полностью автоматизированный процесс</div>
							<div class="main-slider__descr">Вы получаете уже готовую заявку с контактами</div>
	        			</div>
	        		</div>
	        		<div class="main-slider-one swiper-slide">
	        			<div class="main-slider-left">
	        				<img src="/img/slide-1.jpg" alt="">
	        			</div>
	        			<div class="main-slider-right">
	        				<div class="main-slider__title">Полностью автоматизированный процесс</div>
							<div class="main-slider__descr">Вы получаете уже готовую заявку с контактами</div>
	        			</div>
	        		</div>
	        		<div class="main-slider-one swiper-slide">
	        			<div class="main-slider-left">
	        				<img src="/img/slide-1.jpg" alt="">
	        			</div>
	        			<div class="main-slider-right">
	        				<div class="main-slider__title">Полностью автоматизированный процесс</div>
							<div class="main-slider__descr">Вы получаете уже готовую заявку с контактами</div>
	        			</div>
	        		</div>
        		</div>
        	</div>
        	<div class="swiper-pagination"></div>
        	<div class="swiper-button-next"></div>
	    	<div class="swiper-button-prev"></div>
        </div>
</div>
